body {
  margin: 0;
}

nav {
  background-color: #2B9939;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
}

.logo {
  height: 60px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

nav a:hover {
  text-decoration: underline;
}

footer {
  background-color: #D9E5DB;
  color: #2B9939;
  text-align: center;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;

}

/* Home Page Styles */

.box {
  background-color: #BBCFDA;
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
  text-align: center;
}

button {
  background-color: #4E8FCC;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
}
button a {
  color: white;
  text-decoration: none;
}

.home-image {
  width: 100%;
  max-width: 250px;
  margin-top: 20px;
}

/* Login and Register styling */
.input-row {
  display: flex;
  gap: 20px;
}

.input-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 30px;
}

.input-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}




